:root{
    --main-col: #fff;
    --sec-col: #11aeef;
    --sect1-col: #f8f9fa;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: Poppins,sans-serif;
    
}


/* container style */
.container  {
    position: relative;
    height: 1000px;
    background-color: var(--sec-col);
    
}

.container > img {
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #04AA6D;
}

nav >a{
    margin-left:100px;
    color: whitesmoke;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;

  
}


.topnav {
    overflow: hidden;
    margin: 15px 15px 15px 0px;

    /* background-color: #333; */
  }

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #0b3324;
    color: white;
  }

/* banner style */

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    margin-left: 10%;
    
}
.h1{
    width: 600px;
margin-right: 100px;
}
 
.h1 > H1 {
    color: aliceblue;
    font-size: 75px;
}

.banner > p {
    color: aliceblue;
}

/* section 1 */

section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sect0{
    background-color: var(--sect1-col);

}

.sect1{
    width: 500px;
}
.sect2{
    width: 500px;
}

/* footer style */

footer{
    background-color: rgb(166, 197, 196);
    
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 50px 50px 50px;
    margin: 50px 50px 0px 50px;

}

.article{
    width: 400px;
}
.ftext{
    text-align: center;
    background-color: #11aeef;
}